body{
    background-color: #F9FAFF;
}

.my-btn{
    background-color: #FDC435;
    padding: 5px 12px;
}

.my-btn:hover{
  background-color: rgba(255, 68, 0, 0.506);
}

.project-image{
    height: 300px;
    object-fit: cover;
}
.line-break{
    width: 10%;
    margin: 0 auto;
    color:red;
    border-radius: 3px;
}

.line-break hr{
    height: 5px;
}

@media screen and (max-width: 680px) {
   
  }